@import url("/css/fonts/style.css");

$primary_font_stack: Aller, sans-serif;
$primary_font_size: 20px;
$primary_background: rgba(0,0,0,0.8);
$primary_color: rgba(255,255,255,1);

div#softmate_message {
	position: fixed; 
	top:0; 
	left:0; 
	width: 100%; 
	height: 100px;
	background: $primary_background;
	box-shadow: 0 0 2px rgba(0,0,0,0.8), 0 0 4px rgba(0,0,0,0.5);
	color: $primary_color;
	text-align: center; 
	line-height: 100px;
	z-index: 999;
	font-family: $primary_font_stack;
	font-size: $primary_font_size;

	#close_softmate_message {
		float: right;
		cursor: pointer;
		margin-right: 10px;
		line-height: 100px;
		height: 100px;
	}
}


