@import url("/css/fonts/style.css");
div#softmate_message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8), 0 0 4px rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  line-height: 100px;
  z-index: 999;
  font-family: Aller, sans-serif;
  font-size: 20px; }
  div#softmate_message #close_softmate_message {
    float: right;
    cursor: pointer;
    margin-right: 10px;
    line-height: 100px;
    height: 100px; }

/*# sourceMappingURL=content.css.map */
