@import url('/css/fonts/style.css');

$primary_font_stack: Aller, sans-serif;
$primary_font_size: 16px;
$primary_width: 100px;
$primary_height: 200px;
$primary_color: rgba(60,69,86,1);
$primary_background: rgba(248,248,248,1);
$header_border_color: rgba(221,221,221,1);
$header_border: 1px solid $header_border_color;

body {
	padding: 0;
	margin: 0;
	font-family: $primary_font_stack;
	font-size: $primary_font_size;
	background: $primary_background;
	display: grid;
	grid-template-rows: 1fr 3px max-content;

	header {
		padding: 5px;
		text-align: center;
		grid-row: 1;
		border-bottom: $header_border;
	}

	.separator {
		grid-row: 2;
	}

	div#popup_app {
		grid-row: 3;

		max-height: $primary_height;
		width: $primary_width;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 0.5em;
		}
		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			border-radius: 0 2px 2px 0;
		}

		&::-webkit-scrollbar-thumb {
			background-color: darkgrey;
			outline: 2px solid slategrey;
			border-radius: 0 3px 3px 0;
		}
		position: relative;

		#hosts {
			width: 100%;
			height: 100%;

			.host {
				text-align: center;
				padding: 5px 20px;

				a {
					text-decoration: none;
					color: $primary_color;
					cursor: pointer;
				}
			}
		}
	}
}
