@import url("/css/fonts/style.css");
body {
  padding: 0;
  margin: 0;
  font-family: Aller, sans-serif;
  font-size: 16px;
  background: #f8f8f8;
  display: grid;
  grid-template-rows: 1fr 3px max-content; }
  body header {
    padding: 5px;
    text-align: center;
    grid-row: 1;
    border-bottom: 1px solid #dddddd; }
  body .separator {
    grid-row: 2; }
  body div#popup_app {
    grid-row: 3;
    max-height: 200px;
    width: 100px;
    overflow-y: auto;
    position: relative; }
    body div#popup_app::-webkit-scrollbar {
      width: 0.5em; }
    body div#popup_app::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 0 2px 2px 0; }
    body div#popup_app::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 2px solid slategrey;
      border-radius: 0 3px 3px 0; }
    body div#popup_app #hosts {
      width: 100%;
      height: 100%; }
      body div#popup_app #hosts .host {
        text-align: center;
        padding: 5px 20px; }
        body div#popup_app #hosts .host a {
          text-decoration: none;
          color: #3c4556;
          cursor: pointer; }

/*# sourceMappingURL=popup.css.map */
